
header {
  margin-left: -100px;
  margin-right: -100px;
}


.number-phone {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 60px;

}

.menu-line {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 180px;
  }
}


.menu {
  margin: 0;
}


.menu__link {
  font-size: 55px;
  text-decoration: none;
  color: #ff3d7f;
  font-weight: bold;
  padding-right: 20px;
}