
header {

}


.number-phone {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 45px;

}

.logo {
  display: block;
  margin: 0 auto;
  width: 140px;
}


.menu {
  display: flex;
 justify-content: center;
  margin: 0;
}


.menu__link {
  font-size: 45px;
  text-decoration: none;
  color: #ff3d7f;
  font-weight: bold;
  padding-right: 40px;
}