.main-screen {

  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main-title {

  margin-top: 50px;

  p {
    padding: 0;
    margin: 0;
  }

  &__name {
  font-size: 180px;
    font-weight: bold;
    line-height: 110px;

  }

  &__slogan {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 105%;
  }

  &__pink-txt {
    color: #ff3d7f;
    font-size: 50px;
    text-align: right;
    line-height: 50px;
  }

  &__black-txt {
    font-size: 65px;
    margin-top: 30px;
    padding-left: 20px;
  }
}

.main-services {
  width: 130%;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__txt {
    font-family: 'Bona Nova';
  }
}

.main-picture {
  width: 880px;
  height: 880px;
}

.landing-block {
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='930' height='963' viewBox='0 0 930 963'%3E%3Crect width='930' height='963' fill='%23FD82AC' fill-opacity='0.44'/%3E%3C/svg%3E");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 20%;
  margin-bottom: 50px;

}

.txt-picture {
  display: flex;
  flex-direction: column;
}

.block-color {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  border-style: solid;
  border-color: #ffef3d;
  border-width: 8px;
  text-align: center;
  width: 80%;

  &_pink {
    border-color: #ff3d7f;
    text-align: center;
    height: fit-content;
    margin-top: 130px;
    width: 55%;
  }

  &__img {
    margin-top: 20px;
    width: 750px;

  }

  &__txt {
    margin-bottom: 20px;
  }

}

.landing-goals {
  display: flex;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1691' height='1449' viewBox='0 0 1691 1449'%3E%3Cpath d='M3.67227 1444.1L1329.67 9.10193L1683.67 852.675L3.67227 1444.1Z' stroke='%23FF3D7F' stroke-opacity='0.94' stroke-width='10' fill='none'/%3E%3C/svg%3E");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 20%;
}

.landing-goals-container {
  display: flex;
  justify-content: space-between;

  &_down {
    margin-top: 100px;
  }
}

.txt-stroke {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-style: solid;
  border-color: #ffef3d;
  border-width: 8px;
  width: 50%;
  align-items: center;

  &_pink {
    border-color: #fd82ac;
    position: relative;
    top: 50px;
    left: -40px;
  }

  &_size {
    width: 40%;
  }

  &__title {
    color: #ff3d7f;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;

    &_width {
      width: 50%;
    }
  }

  &__text {
    font-family: 'Bona Nova';
    font-size: 35px;
  }
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='342' viewBox='0 0 1920 342' fill='none'%3E%3Crect width='1920' height='341.659' fill='%23FD82AC' fill-opacity='0.44'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-y: 80%;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;


  &__img {
    width: 600px;
  }

  &__txt {
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 #000, 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 100px;

    &_form {
      margin-top: 20px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.landing-niches {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__img {
    width: 700px;
    height: 780px;
  }
}

.landing-niches-container {
  display: flex;
  justify-content: space-between;
  background-image: url("/img/niches-back.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 100%;
  background-position-y: 170%;
  margin-bottom: 50px;
}

.landing-niches-info {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
margin-top: 100px;


  &__title {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    line-height: 30px;
    font-size: 45px;
  }

  &__pink {
    color: #ff3d7f;
    text-align: right;
    margin-right: 10px;
  }
}

.niches-txt-container {
  margin-left: -270px;
}

.niches-txt {

  padding-top: 50px;
  font-weight: bold;

  &__title {
    margin: 0;
    color: #ff3d7f;
    margin-bottom: 15px;

    &_black {
      color: black;
    }
  }

  &__text {
    color: white;
    font-size: 35px;
  }
}

.landing-niches-slogan {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-style: solid;
  border-color: #ff3d7f;
  border-width: 8px;

  &__txt {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-style: solid;
    border-color: #ffef3d;
    border-width: 8px;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
}

.stages-work {

  margin-top: 40px;

  &__italic {
    font-style: italic;
    font-weight: bold;
  }
}

.stages-work-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 40%;

  &_right {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
  }
}

.stages-work-all {
  display: flex;
  justify-content: space-between;
  background-image: url("/img/stages-work.png");
  background-size: contain;
  background-repeat: no-repeat;
}


.stages-work {
  font-weight: bold;


  &__title-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;

  }

  &__number {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    background-color: black;
    color: white;
margin-right: 20px;
    text-align: center;
  }

  &__title {
    color: #ff3d7f;
    margin: 0;
    font-size: 45px;
  }

}

.stages-work-wrap {

width: 90%;
  margin-bottom: 50px;
}

.advantages {
  display: flex;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2195' height='2113' viewBox='0 0 2195 2113' fill='none'%3E%3Cpath d='M1005 739.094L2186.5 10.5938L1833 1499.09L1005 739.094Z' stroke='%23FF3D7F' stroke-opacity='0.94' stroke-width='10'/%3E%3Cpath d='M476.119 636.871L2017.38 1096.42L969.986 2103.49L476.119 636.871Z' stroke='%23FD82AC' stroke-opacity='0.44' stroke-width='10'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-y: 20%;
  background-position-x: 110%;
  margin-bottom: 50px;

}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.price {
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='703' height='1121' viewBox='0 0 703 1121' fill='none'%3E%3Crect width='703' height='694' fill='%23FD82AC' fill-opacity='0.44'/%3E%3Crect x='119' y='585' width='584' height='536' fill='%23F9F3AC' fill-opacity='0.94'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: 98%;
  background-position-y :100%;

  &__list {
    text-align: left;
  }

  &__title {
    font-size: 65px;
    margin: 0;
  }

  &__price {
    color: #ff3d7f;
    font-weight: bold;
    font-size: 55px;
  }

  &__img {
    width: 500px;
  }


}

.price-list-wrap {
  display: flex;
 flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border: #ff3d7f 8px solid;
  border-radius: 50px;
  max-height: fit-content;

}

.reviews {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  &__nav {
    width: 70px;
  }

  &__slogan {
    text-align: center;
  }
}

.reviews-wrap {
  display: flex;
  justify-content: space-between;
}

.review {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 35px;
  padding-left: 35px;
  border: #ff3d7f solid 8px;
  border-radius: 50px;
  width: 80%;

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__photo {
    width: 200px;
  }

  &__name {
    font-style: italic;
  }

  &__text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 35px;
    padding-left: 35px;
    border: #ffef3d solid 8px;
    border-radius: 50px;
    text-align: center;
  }
}

.question {

  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;
  border: #ff3d7f 8px solid;
  border-radius: 50px;
  margin-top: 50px;

  &__cross {
    width: 60px;
  }

  &__txt {
    font-weight: bold;
    font-size: 50px;
  }

  &__answer {
    font-style: italic;
  }
}

.question-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  border: 8px solid;
  border-color: #ff3d7f;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70%;
  font-weight: bold;
  color: black;
  max-height: fit-content;

  &__title {
    font-size: 50px;
    font-weight: bold;
  }


  &__input {
    border-radius: 30px;
    border: 5px solid;
    border-color: #ff3d7f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Bona Nova';
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__message {
    border-radius: 30px;
    border: 5px solid;
    border-color: #ff3d7f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Bona Nova';
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
  }
}

.form-collage {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='561' height='897' viewBox='0 0 561 897' fill='none'%3E%3Crect y='243' width='561' height='654' fill='%23F9F3AC' fill-opacity='0.94'/%3E%3Crect x='100' width='458' height='505' fill='%23F5BCCF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: 70%;


  &__img {
    width: 650px;
  }

  &__txt {
    display: flex;
    text-align: center;
    font-size: 35px;
    position: relative;
    left: 295px;
    top: 35px;
    width: 45%;
  }
}

.contacts {
  display: flex;
 flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  border: #ff3d7f 8px solid;
  border-radius: 50px;
  z-index: 2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1527' height='1369' viewBox='0 0 1527 1369' fill='none'%3E%3Cpath d='M1216.93 324.045L920.823 1144.98L383.756 583.713L1216.93 324.045Z' fill='white'/%3E%3Cpath d='M918.857 1135.69L392.947 586.086L1208.81 331.812L918.857 1135.69Z' stroke='%23FFEF3D' stroke-opacity='0.94' stroke-width='10'/%3E%3Cpath d='M1124.97 898.593L266.998 1058.25L479.636 311.098L1124.97 898.593Z' fill='white'/%3E%3Cpath d='M274.016 1051.86L482.237 320.227L1114.16 895.518L274.016 1051.86Z' stroke='%23FD82AC' stroke-opacity='0.44' stroke-width='10'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: 110%;
  background-position-y: 60%;

 &__img {
    width: 400px;
    z-index: 1;
    position: relative;
    top: -850px;
    left: 880px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: bold;

  &_link {
    flex-direction: unset;
    align-items: center;
  }


  &__icon {
    width: 70px;
    margin-right: 15px;
  }

  &__name {
    color: #ff3d7f;
  }


}

.contacts-wrap {
  margin-bottom: 50px;
}

