.main-screen {

  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main-title {

  margin-top: 50px;

  p {
    padding: 0;
    margin: 0;
  }

  &__name {
  font-size: 180px;
    font-weight: bold;
    line-height: 110px;

  }

  &__slogan {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 105%;
  }

  &__pink-txt {
    color: #ff3d7f;
    font-size: 50px;
    text-align: right;
    line-height: 50px;
  }

  &__black-txt {
    font-size: 65px;
    margin-top: 30px;
    padding-left: 20px;
  }
}

.main-services {
  width: 130%;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__txt {
    font-family: 'Bona Nova';
  }
}

.main-picture {
  width: 880px;
  height: 880px;
}

.landing-block {
  display: flex;
  justify-content: space-between;
  background-image: url("/img/pink-back1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 20%;
  margin-bottom: 50px;

}

.txt-picture {
  display: flex;
  flex-direction: column;
}

.block-yellow {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  border-style: solid;
  border-color: #ffef3d;
  border-width: 8px;
  text-align: center;
  width: 80%;

  &__img {
    margin-top: 20px;
    width: 750px;

  }

}

.block-pink {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: white;
  border-style: solid;
  border-color: #ff3d7f;
  border-width: 8px;
  text-align: center;
  height: fit-content;
  margin-top: 130px;
  width: 50%;


  &__txt {
    margin-bottom: 20px;
  }
}

.landing-goals {
  display: flex;
  flex-direction: column;
  background-image: url("/img/pink-triangle.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 20%;
}

.landing-goals-container {
  display: flex;
  justify-content: space-between;

  &_down {
    margin-top: 100px;
  }
}

.txt-stroke {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-style: solid;
  border-color: #ffef3d;
  border-width: 8px;
  width: 50%;
  align-items: center;

  &_pink {
    border-color: #fd82ac;
    position: relative;
    top: 50px;
    left: -40px;
  }

  &_size {
    width: 40%;
  }

  &__title {
    color: #ff3d7f;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;

    &_width {
      width: 50%;
    }
  }

  &__text {
    font-family: 'Bona Nova';
    font-size: 35px;
  }
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-image: url("/img/banner-back.png");
  background-repeat: no-repeat;
  background-position-y: 80%;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;


  &__img {
    width: 600px;
  }

  &__txt {
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 100px;
    text-shadow: 1px 1px 0 #000, 2px 2px 5px rgba(0, 0, 0, 0.5)
  }
}

.landing-niches {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__img {
    width: 700px;
    height: 780px;
  }
}

.landing-niches-container {
  display: flex;
  justify-content: space-between;
  background-image: url("/img/niches-back.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 100%;
  background-position-y: 170%;
  margin-bottom: 50px;
}

.landing-niches-info {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
margin-top: 100px;


  &__title {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    line-height: 30px;
    font-size: 45px;
  }

  &__pink {
    color: #ff3d7f;
    text-align: right;
    margin-right: 10px;
  }
}

.niches-txt-container {
  margin-left: -270px;
}

.niches-txt {

  padding-top: 50px;
  font-weight: bold;

  &__title {
    margin: 0;
    color: #ff3d7f;
    margin-bottom: 15px;

    &_black {
      color: black;
    }
  }

  &__text {
    color: white;
    font-size: 35px;
  }
}

.landing-niches-slogan {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-style: solid;
  border-color: #ff3d7f;
  border-width: 8px;

  &__txt {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-style: solid;
    border-color: #ffef3d;
    border-width: 8px;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
}

.stages-work {

  margin-top: 40px;

  &__italic {
    font-style: italic;
    font-weight: bold;
  }
}

.stages-work-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 40%;

  &_right {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
  }
}

.stages-work-all {
  display: flex;
  justify-content: space-between;
  background-image: url("/img/stages-work.png");
  background-size: contain;
  background-repeat: no-repeat;
}


.stages-work {
  font-weight: bold;


  &__title-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;

  }

  &__number {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    background-color: black;
    color: white;
margin-right: 20px;
    text-align: center;
  }

  &__title {
    color: #ff3d7f;
    margin: 0;
    font-size: 45px;
  }

}

.stages-work-wrap {

width: 90%;
  margin-bottom: 50px;
}

.advantages {
  display: flex;
  flex-direction: column;
  background-image: url("/img/triangles-back.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-y: 20%;
  background-position-x: 110%;

}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}