.main-screen {

  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main-title {

  margin-top: 80px;

  &__slogan {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 115%;
  }

  &__pink-txt {
    color: #ff3d7f;
    font-size: 55px;
    text-align: right;
    line-height: 50px;
  }

  &__black-txt {
    font-size: 75px;
    margin-top: 30px;
    padding-left: 30px;
  }
}

.main-services {
  width: 110%;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__txt {
    font-family: 'Bona Nova';
  }
}

.main-picture {
  width: 1100px;
  height: 1100px;
}

.txt-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: #ffef3d;
  border-style: solid;
  border-radius: 50px;
}
