
@media (max-width: 1600px) {

  body {
    padding-left: 150px;
    padding-right: 150px;
  }

  .logo {
    width: 120px;
    height: 100px;
  }

  .menu__link {
    font-size: 32px;
  }

  .number-phone {
  font-size: 32px;
}

  .contact-menu__img {
  width: 45px;

    &_telemost {
      height: 48px;
      width: 55px;
    }

    .main-title__name {
      font-size: 150px;
      line-height: 95px;
    }

}




}