
@media (max-width: 1600px) {

  body {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 32px;
  }

  .logo {
    width: 120px;
    height: 100px;
  }

  .menu__link {
    font-size: 32px;
  }

  .number-phone {
  font-size: 32px;
}

  .contact-menu__img {
  width: 45px;
  }

  .contact-menu__img_telemost {
    width: 47px;
  }

  .social-links {
width: 60%;
  }

  .main-title {
    margin-top: 15px;

    &__name {
      font-size: 160px;
      line-height: 110px;
    }

    &__pink-txt {
      font-size: 40px;
      line-height: 35px;
    }

    &__black-txt {
      font-size: 55px;
      margin-top: 20px;
      padding-left: 15px;
    }
  }


  .main-picture {
    width: 750px;
    height: 750px;
  }

h1 {
  font-size: 50px;
}

.btn {
  font-size: 30px;

  &_form {
    font-size: 28px;
    margin-top: 10px;
  }
}

h2 {
  font-size: 55px;
  margin-bottom: 30px;
}

.landing-block {
  background-size: 50%;
}

.block-color__img {
  width: 650px;
}

.txt-stroke__text {
  font-size: 30px;
}

  .txt-stroke__title {
    font-size: 42px;
  }

  .banner-container {
   background-position-y: 70%;
  }


  .niches-txt-container {
    margin-left: -280px;
  }

  .landing-niches__img {
  width: 600px;
  height: 680px;
}

  .niches-txt__text {
    font-size: 30px;
  }

  .stages-work-wrap {
    width: 36%;
  }

  .price__img {
    width: 450px;
  }

  .review__photo {
    width: 180px;
  }

  .reviews__slogan {
    font-size: 30px;
  }

  .review__text {
    font-size: 30px;
  }

  .question__txt {
    font-size: 40px;
  }

  .question__cross {
    width: 50px;
  }

  .question__answer {
    font-size: 30px;
  }

  .question-wrap {
    margin-bottom: 30px;
  }

  .banner__txt_form {
    font-size: 40px;
  }

  .form {
    padding-top: 30px;
    padding-bottom: 30px;
    border-width: 6px;
    width: 60%;

    &__title {
      font-size: 45px;
    }

    &__input {
      font-size: 25px;
    }
  }

  .form-collage {
    background-size: 60%;
    background-position-y: 10%;
    background-position-x: 55%;
  }

  .form-collage__img {
    width: 500px;
  }

  .form-collage__txt {
    font-size: 25px;
    left: 216px;
  }

  .stages-work__title {
    font-size: 43px;
  }
}

@media (max-width: 1536px) {

  .menu__link {
    font-size: 30px;
  }

  .number-phone {
    font-size: 30px;
  }

  .social-links {
    width: 67%;
  }

  .main-title__slogan {
    width: 109%;
  }

  h1 {
    font-size: 47px;
  }

  .landing-block {
    background-size: 45%;
  }

  .block-color__img {
    width: 580px;
  }

  .block-color_pink {
    width: 60%;
  }

  .banner__txt {
    font-size: 45px;
  }

  .landing-niches__img {
    width: 560px;
    height: 600px;
  }

  .landing-niches-container {
    background-size: 85%;
  }

  .landing-niches-info {
    margin-top: 40px;
  }

  .landing-niches-info__title {
    font-size: 40px;
  }

  .landing-niches-slogan {
    width: 70%;
  }

  .landing-niches-slogan__txt {
    font-size: 50px;
  }

  .niches-txt {
    padding-top: 35px;
  }

  .stages-work__title {
    font-size: 40px;
  }

  .stages-work__txt {
    font-size: 28px;
  }

  .txt-stroke__text {
    font-size: 28px;
  }

  .landing-goals-container_down {
    margin-top: 85px;
  }

  .advantages-container {
    margin-bottom: 70px;
  }


  .reviews__slogan {
    font-size: 28px;
  }

  .review__photo {
    width: 160px;
  }

  .form-collage__txt {
    left: 212px;
  }
}

@media (max-width: 1440px) {

  .logo {
    width: 100px;
    height: 80px;
  }

  .menu__link {
    font-size: 28px;
  }

  .number-phone {
    font-size: 28px;
  }

  .social-links {
    width: 70%;
  }

  .main-picture {
    width: 680px;
    height: 680px;
  }

  .main-title__name {
    font-size: 150px;
    line-height: 100px;
  }

  .main-title__black-txt {
    font-size: 50px;
  }

  .main-title__slogan {
    width: 108%;
  }

  h1 {
    font-size: 43px;
  }

  body {
    font-size: 28px;
  }

  h2 {
    font-size: 50px;
  }

  .block-color__img {
    width: 550px;
  }

  .banner-container {
    background-position-y: 80%;
  }

  .landing-block {
    background-position-x: 75%;
  }

  .txt-stroke__title {
    font-size: 38px;
  }

  .txt-stroke__text {
    font-size: 27px;
  }

  .banner__img {
    width: 500px;
  }

  .banner__txt {
    margin-top: 80px;
  }


  .niches-txt__title {
    margin-bottom: 10px;
  }

  .niches-txt__text {
    font-size: 25px;
  }

  .landing-niches-slogan {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .landing-niches-slogan__txt {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 42px;
  }

  .landing-niches__img {
    height: 570px;
  }

  .stages-work__number {
    padding-right: 22px;
    padding-left: 22px;
  }

  .stages-work__title {
    font-size: 36px;
  }

  .price__title {
    font-size: 55px;
}

  .price__price {
    font-size: 45px;
  }

  .price__img {
    width: 400px;
  }

  .reviews__slogan {
    font-size: 27px;
  }

  .review__photo {
    width: 130px;
  }

  .review__text {
    font-size: 28px;
  }

  .reviews__nav {
    width: 60px;
  }

  .question {
    margin-top: 30px;
  }

.banner__txt_form {
  margin-top: 20px;
  font-size: 40px;
  padding-right: 25px;
  padding-left: 25px;
}

.form__title {
  font-size: 38px;
}

  .form-collage__txt {
    left: 202px;
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contacts__img {
    width: 220px;
    height: 420px;
  }

  .contacts-info {
    margin-top: 40px;
  }

  .contact {
    margin-bottom: 20px;
  }

  .contact__icon {
    width: 55px;
  }

}

@media (max-width: 1368px) {

  .btn {
    font-size: 28px;
  }

  .menu__link {
    font-size: 25px;
  }

  .number-phone {
    font-size: 25px;
  }

  .contact-menu__img {
    width: 40px;
  }

  .contact-menu__img_telemost {
    width: 42px;
  }

  .main-picture {
    width: 630px;
    height: 630px;
  }

  .main-title__name {
    font-size: 140px;
    line-height: 90px;
  }

  .main-title__pink-txt {
    font-size: 35px;
    line-height: 30px;
  }

  .main-title__black-txt {
    font-size: 45px;
    padding-right: 20px;
    padding-left: 10px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 45px;
  }

  .block-color__img {
    width: 520px;
  }

  .block-color {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .block-color_pink {
    width: 60%;
  }

  .txt-stroke__title_width {
    width: 55%;
  }

  .banner-container {
   margin-bottom: 15px;
  }

  .banner__txt {
    font-size: 40px;
  }

  .niches-txt {
    padding-top: 20px;
  }

  .stages-work-wrap {
    width: 38%;
  }

  .stages-work__title {
    font-size: 35px;
  }

  .stages-work__txt {
    font-size: 26px;
  }

  .reviews__slogan {
    font-size: 25px;
  }

  .form {
    width: 65%;
  }

  .form-collage__txt {
    left: 189px;
  }

  .question__txt {
    font-size: 38px;
  }
}

@media (max-width: 1366px) {

  .question__answer {
    font-size: 28px;
    }
}

@media (max-width: 1280px) {

  .btn {
    font-size: 25px;
  }

  .logo {
    width: 90px;
    height: 70px;
    }

  .menu__link {
    font-size: 23px;
  }

  .number-phone {
    font-size: 23px;
  }

  .contact-menu__img {
    width: 35px;
  }

  .contact-menu__img_telemost {
   width: 37px;
  }

  .social-links {
    width: 67%;
  }

  .main-picture {
    width: 600px;
    height: 600px;
  }

  .main-title__name {
    font-size: 120px;
    line-height: 85px;
  }

  .main-title__pink-txt {
    font-size: 32px;
    line-height: 28px;
  }

  .main-title__black-txt {
    font-size: 40px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .main-title__slogan {
    width: 105%;
  }

  h1 {
    font-size: 35px;
  }

  body {
    font-size: 26px;
  }

  .block-color__img {
    width: 490px;
  }

  .txt-stroke {
    border-width: 6px;
  }

  .txt-stroke_pink {
    left: -35px;
  }

  .txt-stroke__text {
    font-size: 23px;
  }

  .txt-stroke__title {
    font-size: 32px;
  }

  .landing-goals-container_down {
    margin-top: 70px;
  }

  .banner-container {
    background-size: 160%;
    margin-top: 30px;
  }

  .banner__img {
    width: 450px;
  }

  .banner__txt {
    font-size: 38px;
  }

  .landing-niches-container {
    background-size: 87%;
  }

  .landing-niches__img {
    height: 530px;
  }

 .landing-niches-info__title {
   line-height: 27px;
   font-size: 35px;
 }

  .landing-niches-slogan__txt {
    font-size: 38px;
   padding-top: 50px;
    padding-bottom: 50px;
  }

  .landing-niches-slogan {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .stages-work-wrap {
    width: 39%;
  }

  .stages-work__title {
    font-size: 32px;
  }

  .stages-work__number {
    padding-right: 22px;
    padding-left: 22px;
  }

  .stages-work-container {
    margin-top: 50px;
  }

  .stages-work__txt {
    font-size: 25px;
  }

  .advantages-container {
    margin-bottom: 40px;
  }

  .price-list-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    border-width: 6px;
  }

  .price__title {
    font-size: 50px;
  }

  .price__price {
    font-size: 40px;
  }

  .price__list {
    font-size: 25px;
  }

  .price__img {
    width: 345px;
  }

  .review {
    border-width: 6px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .reviews__slogan {
    font-size: 26px;
  }

  .review__text {
    font-size: 26px;
    border-width: 6px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .review__photo {
    width: 110px;
  }

  .reviews__nav {
    width: 50px;
  }

  .question {
    border-width: 6px;
    margin-top: 35px;

  }

  .question__cross {
    width: 45px;

  }

  .question__txt {
    font-size: 38px;
  }

  .question__answer {
    font-size: 24px;
  }

  .banner__txt_form {
    font-size: 35px;
    margin-top: 0;
  }

    .form__title {
      font-size: 35px;
    }

    .form {
      width: 80%;
      border-width: 5px;

      &__input {
        font-size: 23px;
        border-width: 3px;
      }

      &__message {
        font-size: 23px;
        border-width: 3px;
        height: 160px;
      }
    }

    .form-collage {
      background-size: 65%;
    }

  .form-collage__img {
    width: 460px;
  }

  .form-collage__txt {
    left: 162px;
    top: 45px;
  }

  .contacts {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact__icon {
    width: 45px;
  }

}

@media (max-width: 1180px) {

  .menu__link {
    font-size: 20px;
  }

  .social-links {
    width: 60%;
  }

  .menu {
    padding-left: 20px;
  }

  .contact-menu__img {
    width: 32px;
  }

  .contact-menu__img_telemost {
    width: 34px;
  }

  .main-picture {
    width: 500px;
    height: 500px;
  }

  .landing-block {
    background-size: 50%;
  }

  .block-color__img {
    width: 450px;
  }

  .body {
    font-size: 25px;
  }

  .block-color__txt {
    margin-bottom: 10px;
  }

  .block-color_pink {
    margin-top: 90px;
    width: 70%;
  }

  .txt-stroke__title {
    margin-bottom: 15px;
  }

  .landing-goals {
    background-size: 80%;
  }

  .banner__img {
    width: 400px;
  }

  .banner__txt {
    font-size: 35px;
  }

  .landing-niches-container {
    margin-bottom: 30px;
  }

  .landing-niches__img {
    height: 500px;
  }

  .landing-niches-info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .landing-niches-info__title {
    font-size: 32px;
    line-height: 25px;
  }

  .niches-txt {
    padding-top: 15px;
  }

  .niches-txt__text {
    font-size: 21px;
  }


  .niches-txt__title {
    font-size: 25px;
    margin-bottom: 8px;
  }


  .niches-txt-container {
    margin-left: -260px;
  }

  .landing-niches-slogan__txt {
    font-size: 35px;
  }

  .stages-work__number {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .stages-work__txt {
    font-size: 24px;
  }

  .stages-work__title {
    font-size: 32px;
  }

  .stages-work-wrap {
   width: 45%;
  }

  .stages-work-container {
    margin-top: 50px;
  }

  .btn_stages {
    width: 17%;
  }

  .txt-stroke_size {
    width: 38%;
  }

  .price__img {
    width: 330px;
  }

  .advantages {
    background-size: 120%;
    background-position-y: 20%;
  }

  .question {
    margin-top: 20px;
  }

  .question__txt {
    font-size: 35px;
  }

  .banner__txt_form {
    font-size: 28px;
  }



  .form__title {
    font-size: 32px;
  }

  .form-collage__img {
    width: 400px;
  }

  .form__input {
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 12px;
    margin-bottom: 12px;

    &_textarea {
      height: 200px;
    }
  }


  .form-collage__txt {
    font-size: 23px;
    left: 147px;
    top: 40px;
  }

  .contacts__img {
    width: 200px;
    height: 400px;
  }

  .contact {
    margin-bottom: 15px;
  }

  .contacts-info {
    margin-top: 60px;
    font-size: 25px;
  }

  .contact__icon {
    width: 40px;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {

  body {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 22px;
  }

  .btn {
    font-size: 23px;
    margin-top: 25px;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  .number-phone {
    font-size: 18px;
  }

  .social-links {
    width: 68%;
  }

  .contact-menu__img {
    width: 27px;
  }

  .contact-menu__img_telemost {
    width: 29px;
  }

  .menu__link {
    font-size: 18px;
    margin-right: 8px;
  }

  .main-picture {
    width: 440px;
    height: 440px;
  }

  .main-title__name {
    font-size: 100px;
    line-height: 70px;
  }

  .main-title__pink-txt {
    font-size: 30px;
    line-height: 25px;
  }

  .main-title__black-txt {
    font-size: 38px;
    margin-top: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .block-color {
    border-width: 5px;
  }

  .block-color__img {
    width: 400px;
  }

  .banner__img {
    width: 370px;
  }

  .txt-stroke {
    border-width: 5px;
  }

  .txt-stroke__text {
  font-size: 21px;
}

  .txt-stroke__title {
    font-size: 28px;
  }

  .txt-stroke__title_width {
    width: 60%;
  }

  .landing-goals-container_down {
    margin-top: 22px;
  }

  .landing-goals {
    background-position-x: 100%;
    background-size: 70%;
  }


  .banner__txt {
    font-size: 30px;
  }

  .landing-niches-container {
    background-size: 90%;
  }

  .landing-niches-info {
    margin-top: 30px;
  }

  .landing-niches-info__title {
    font-size: 30px;
    line-height: 23px;
  }

  .landing-niches__img {
    height: 450px;
  }

  .niches-txt__text {
    font-size: 18px;
  }

  .niches-txt-container {
    margin-left: -270px;
  }

  .landing-niches-slogan__txt {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-width: 5px;
  }

  .landing-niches-slogan {
    padding-top: 40px;
    padding-bottom: 40px;
    border-width: 5px;
  }

  .stages-work__txt {
    font-size: 22px;
  }

  .stages-work__title {
    font-size: 30px;
  }

  .price-list-wrap {
    border-width: 5px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .price__title {
    font-size: 43px;
  }

  .price__list {
    font-size: 22px;
  }

  .price__price {
    font-size: 37px;
  }

  .price__img {
    width: 300px;
    height: 560px;
  }

  .price {
    background-position-y: 78%;
  }

  .review {
    border-width: 5px;
  }

  .review__photo {
    width: 100px;
  }

  .review__text {
    font-size: 23px;
    border-width: 5px;
  }

  .question {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .question__cross {
    width: 40px;
  }

  .form {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form__title {
    font-size: 28px;
  }

  .form-collage__img {
    width: 370px;
  }

  .form__input {
    border-radius: 25px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form__input_textarea {
    height: 180px;
  }

  .btn_form {
    margin-top: 15px;
  }


  .form-collage__txt {
    font-size: 20px;
    left: 130px;
  }

  .contacts__img {
    width: 185px;
    height: 370px;
    }

  .contacts-info {
    font-size: 22px;
  }

}

@media (max-width: 932px) {

  .menu__link {
    font-size: 16px;
    margin-right: 5px;
  }

  .number-phone {
    font-size: 16px;
  }

  .logo {
    width: 75px;
  }

  .contact-menu__img {
    width: 24px;
  }

  .contact-menu__img_telemost {
width: 26px;
  }

  .main-screen {
    margin-top: 50px;
  }

  .main-picture {
    width: 400px;
    height: 400px;
  }

  .main-title__name {
    font-size: 90px;
    line-height: 60px;
  }

  .main-title__pink-txt {
    font-size: 26px;
    line-height: 23px;
  }

  .main-title__black-txt {
    font-size: 30px;
  }

  h1 {
    font-size: 27px;
  }

  body {
    font-size: 20px;
  }

  .btn {
    font-size: 21px;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 3px;
  }

  h2 {
    font-size: 32px;
  }

  .block-color__img {
    width: 350px;
  }

  .block-color {
    padding-left: 30px;
    padding-right: 30px;
  }

  .block-color_pink {
    width: 75%;
  }

  .txt-stroke__text {
    font-size: 17px;
  }

  .txt-stroke__title {
    font-size: 23px;
  }

  .txt-stroke_pink {
    left: -22px;
  }

  .banner__img {
    width: 350px;
  }

  .banner__txt {
    font-size: 26px;
  }

  .landing-niches__img {
    height: 410px;
  }


  .landing-niches-info__title {
    font-size: 26px;
    line-height: 20px;
  }

  .niches-txt {
    padding-top: 13px;
  }

  .niches-txt__title {
    font-size: 22px;
  }

  .niches-txt__text {
    font-size: 17px;
  }

  .niches-txt-container {
    margin-left: -235px;
  }

  .landing-niches-slogan__txt {
    font-size: 27px;
  }

  .stages-work__number {
    padding-left: 18px;
    padding-right: 18px;
  }

  .stages-work__title {
    font-size: 26px;
  }

  .stages-work-container {
    margin-top: 25px;
  }

  .stages-work__txt {
    font-size: 19px;
  }

  .stages-work__number {
    margin-right: 15px;
  }

  .stages-work__title-group {
    margin-top: 10px;
  }

  .btn_stages {
    width: 18%;
  }

  .txt-stroke_size {
    width: 37%;
  }

  .price__title {
    font-size: 38px;
  }

  .price__price {
    font-size: 34px;
  }

  .price__list {
    font-size: 18px;
  }

  .price-list-wrap {
    border-radius: 30px;
  }

  .price__img {
    width: 260px;
    height: 500px;
  }

  .reviews__slogan {
    font-size: 22px;
  }

  .review__text {
  font-size: 20px;
}

  .question {
    border-width: 5px;
    padding-left: 35px;
    padding-right: 35px;

  }

  .question__txt {
    font-size: 28px;
    width: 65%;
  }

  .question__cross {
    width: 35px;
  }

  .question__answer {
    font-size: 19px;
  }

  .question-wrap {
    margin-bottom: 25px;
  }

  .banner-container_form {
    padding-right: 25px;
    padding-left: 25px;
  }

  .banner__txt_form {
    font-size: 24px;
  }

  .form__title {
    font-size: 25px;
  }

  .form-collage__img {
    width: 320px;
  }

  .form__input {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
  }


  .btn_form {
    margin-top: 10px;
  }

  .form-collage__txt {
    font-size: 18px;
    left: 112px;
  }

  .contacts {
    border-width: 5px;
  }

  .contacts__img {
    width: 160px;
    height: 320px;
  }

  .contacts-info {
    margin-top: 45px;
    font-size: 20px;
  }

  .contact {
    margin-bottom: 10px;
  }

  .contact__icon {
    width: 30px;
  }
}

@media (max-width: 916px) {

  body {
    padding-right: 100px;
    padding-left: 100px;
    font-size: 18px;
  }

  .menu__link {
    font-size: 17px;
  }

  .number-phone {
    font-size: 17px;
  }

  .social-links {
    width: 65%;
  }

  .main-title__slogan {
    width: 100%;
    }

  .btn {
    font-size: 19px;
  }

  h2 {
    font-size: 30px;
  }

  .block-color__txt {
    font-size: 19px;
  }

  .banner__img {
    width: 320px;
  }

  .landing-niches-container {
    margin-bottom: 30px;
  }

  .landing-niches-info {
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .niches-txt {
    padding-top: 25px;
  }

  .niches-txt__text {
    font-size: 17px;
  }

  .review__photo {
    width: 90px;
  }

  .reviews__nav {
    width: 45px;
    }

  .question__txt {
    font-size: 26px;
  }
}

@media (max-width: 912px) {

  h1 {
    font-size: 25px;
  }

  .banner__txt {
    margin-top: 50px;
  }

  .banner__txt_form {
    margin-top: 0px;
  }

}

@media (max-width: 896px) {

  .main-picture {
    width: 380px;
    height: 380px;
  }

 .banner-container {
   margin-bottom: 5px;
 }

  .niches-txt {
    padding-top: 23px;
  }

  .stages-work-container {
    margin-top: 20px;
  }

  .stages-work__title {
    font-size: 25px;
  }

  .stages-work__txt {
    font-size: 18px;
  }

  .stages-work__number {
    padding-right: 16px;
    padding-left: 16px;
  }

  .price-list-wrap {
   padding-left: 35px;
    padding-right: 35px;
  }

  .price__img {
    width: 245px;
    height: 470px;
  }

  .review__photo {
    width: 80px;
  }

  .review__text {
    font-size: 18px;
  }


  ul {
    padding-left: 20px;
  }

  .banner-container_form {
    margin-bottom: 15px;
  }

  .form__input_textarea {
    height: 150px;
  }

  .footer-txt {
    margin-top: 15px;
  }

}

@media (max-width: 882px) {

  .logo {
    width: 70px;
  }

  .main-picture {
    width: 370px;
    height: 370px;
  }

  .txt-stroke__text {
    font-size: 16px;
  }

  .banner__img {
    width: 300px;
  }

  .banner__txt {
    font-size: 23px;
    margin-top: 60px;
  }

  .niches-txt__title {
    font-size: 20px;
  }

  .niches-txt__text {
    font-size: 15px;
  }

  .landing-niches-slogan__txt {
    font-size: 25px;
  }


  .txt-stroke__title {
    font-size: 22px;
  }

  .price__title {
    font-size: 35px;
  }

  .price__price {
    font-size: 30px;
  }

  .price-list-wrap {
    padding-right: 25px;
    padding-left: 25px;
  }

  .btn_form {
    margin-top: 20px;
  }

  .price__img {
    width: 250px;
    height: 480px;
  }

  .question__cross {
    width: 30px;
  }


  .banner__txt_form {
    font-size: 20px;
    margin-top: 10px;
  }

  .form__title {
    font-size: 23px;
  }

  .form__input {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 82%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form__message {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
  }

  .btn_form {
    margin-top: 8px;
    font-size: 17px;
  }

  .form-collage__txt {
    font-size: 16px;
    top: 30px;
  }
}

@media (max-width: 854px) {

  .menu__link {
    font-size: 15px;
  }

  .number-phone {
    font-size: 15px;
  }

  .contact-menu__img {
    width: 22px;
  }

  .contact-menu__img_telemost {
    width: 24px;
  }

  .main-picture {
    width: 330px;
    height: 330px;
  }

  .main-screen {
    margin-top: 50px;
  }

  body {
    font-size: 17px;
  }

  .block-color__img {
    width: 310px;
  }

  .block-color {
    width: 85%;
  }

  .block-color_pink {
    width: 85%;
  }

  .block-color__txt {
    font-size: 18px;
  }

  .landing-block {
    margin-bottom: 15px;
  }

  .txt-stroke {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

 .txt-stroke__title {
   font-size: 20px;
 }

  .banner__img {
    width: 270px;
  }

  .banner-container {
    background-size: 150%;
  }

  .landing-niches__img {
    height: 370px;
  }

  .landing-niches-info__title {
    font-size: 22px;
    line-height: 18px;
  }

  .landing-niches-info__pink {
    margin-right: 4px;
  }

  .niches-txt-container {
    margin-left: -220px;
  }

  .niches-txt {
    padding-top: 15px;
  }

  .landing-niches-slogan__txt {
    font-size: 24px;
  }

  .stages-work-wrap {
    width: 48%;
  }

  .stages-work__title-group {
    margin-bottom: 10px;
  }

  .btn_stages {
    font-size: 18px;
  }


  .advantages-container {
    margin-bottom: 30px;
  }

  .btn_advantages {
    margin-top: 40px;
  }

  .price__img {
    width: 240px;
    height: 450px;
  }

  .reviews {
    margin-top: 15px;
  }

  .reviews__slogan {
    font-size: 20px;
  }

  .review__text {
    font-size: 16px;
  }

  .banner-container_form {
    margin-top: 15px;
  }

  .form-collage__img {
    width: 290px;
  }

  .form-collage__txt {
    left: 100px;
  }

}

@media (max-width: 844px) {


  .txt-stroke__text {
    font-size: 15px;
  }

  .landing-niches {
    margin-top: 30px;
  }

  .banner-container {
    margin-bottom: 15px;
  }

  .stages-work {
    margin-top: 25px;
  }

 h2 {
    margin-bottom: 15px;
  }

  .stages-work__italic {
    font-size: 19px;
  }

  .advantages-container {
    margin-bottom: 40px;
  }

  .txt-stroke_size {
    width: 38%;
  }

  .form-collage__img {
    width: 275px;
  }

  .form-collage__txt {
    font-size: 15px;
    left: 96px;
  }

  .contacts__img {
    width: 150px;
    height: 290px;
  }

}

@media (max-width: 820px) {

  .logo {
    width: 60px;
    height: 50px;
  }

  .main-services {
    margin-top: 20px;
  }

  .main-title__black-txt {
    font-size: 28px;
  }

  .main-title__pink-txt {
    font-size: 23px;
    line-height: 20px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .btn {
    font-size: 18px;
  }

  h2 {
    font-size: 28px;
  }

  .block-color {
    width: 74%;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .block-color_pink {
    width: 82%;
  }

  .block-color__img {
    width: 300px;
  }

  .landing-block {
    background-position-x: 60%;
  }

  .banner-container {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .niches-txt {
    padding-top: 10px;
  }

  .stages-work__title {
    font-size: 22px;
  }

  .stages-work-wrap_right {
margin-top: 30px;
  }

  .advantages {
    margin-bottom: 20px;
  }

  .txt-stroke_size {
    width: 37%;
  }

  .btn_form {
    font-size: 16px;
    margin-top: 20px;
  }

  .price__img {
    width: 230px;
    height: 445px;
  }

  .price-list-wrap {
    border-width: 5px;
    width: 50%;
  }

  .reviews__nav {
    width: 38px;
  }

  .review__photo {
    width: 75px;
  }

  .question__txt {
   width: 60%;
  }

  .question-wrap {
    margin-bottom: 15px;
  }

  .question {
    border-radius: 40px;
  }

  .question__txt {
    width: 55%;
  }

  .banner-container_form {
    margin-bottom: 20px;
  }


  .form-collage__img {
    width: 260px;
  }

  .btn_form {
    margin-top: 10px;
  }

  .form-collage__txt {
    font-size: 14px;
    left: 92px;
  }

  .contacts-info {
    font-size: 18px;
  }

}

@media (max-width: 768px) {

  .contact-menu {
    margin-top: 8px;
  }

  .main-title__name {
    line-height: 55px;
  }

  .main-services {
    width: 115%;
    margin-top: 15px;
  }

  .main-picture {
    width: 350px;
    height: 350px;
  }

  .main-title__slogan {
    width: 90%;
  }

  body {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .btn {
    font-size: 16px;
    margin-top: 20px;
  }

  .landing-block {
    background-size: 40%;
  }

  .btn_advantages {
    margin-top: 25px;
  }

  .block-color__txt {
    font-size: 16px;
  }

  .block-color_pink {
    margin-top: 70px;
    width: 67%;
  }

  .block-color {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .landing-block {
    margin-bottom: 20px;
  }

  .banner__img {
    width: 250px;
  }

  .banner__txt {
    font-size: 21px;
    margin-top: 45px;
  }

.landing-niches {
  margin-top: 30px;
}

  .landing-niches__img {
    height: 320px;
  }

  .landing-niches-info {
    margin-top: 20px;
  }

  .niches-txt-container {
    margin-left: -180px;
  }

  .stages-work__italic {
    font-size: 17px;
  }


  .stages-work-wrap_right {
    margin-top: 25px;
  }

  .stages-work__txt {
    font-size: 17px;
  }

  .stages-work-wrap {
    width: 45%;
  }

  .txt-stroke {
    padding: 20px;
  }

  .txt-stroke_size {
    width: 38%;
  }

  .banner-container {
    background-size: 130%;
  }

  .price__img {
    width: 220px;
    height: 400px;
  }

  .price {
  background-position-y: 45%;
}

  .price-list-wrap {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .review {
    margin-top: 20px;
    width: 75%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

  }

  .review__text {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .question__answer {
    font-size: 18px;
  }

  .question__txt {
    width: 50%;
  }

  .banner__txt_form {
    font-size: 22px;
    margin-top: 0;
  }

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 72%;
  box-sizing: border-box;
}

  .form__title {
    font-size: 25px;
  }

.form__input {
  width: 100%;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.btn_form {
  font-size: 17px;
}

.form-collage {
  margin-top: 20px;
  background-image: url("/img/price-mobile.svg");
  background-size: 100%;
 height: 300px;
}

  .form-collage__txt {
    font-size: 23px;
    left: 340px;
    top: 62px;
  }

  .form-collage__img {
    width: 280px;
    position: relative;
    top: -100px;
    left: -55px;
  }

  .form-container {
    margin-bottom: 40px;
  }

  .contacts__img {
    width: 130px;
    height: 260px;
  }

  .contacts-info {
    margin-top: 40px;
  }

  .contacts-wrap {
    margin-bottom: 30px;
  }
}

@media (max-width: 740px) {

  .main-title__slogan {
    width: 100%;
  }

  .btn {
    font-size: 15px;
  }

  .block-color__img {
    width: 260px;
  }

  .block-color__txt {
    font-size: 15px;
  }

  .landing-block {
    margin-bottom: 10px;
  }

  .txt-stroke {
    padding: 15px;
    border-width: 3px;
  }

  .txt-stroke__text {
    font-size: 13px;
  }

  .txt-stroke__title {
    font-size: 18px;
  }

  .txt-stroke_pink {
    left: -10px;
    top:40px;
  }

  .landing-goals {
    background-position-x: 70%;
    background-size: 65%;
    background-position-y: 120%;
  }


  .landing-niches-container {
    background-size: 99%;
    margin-bottom: 5px;
  }

  .landing-niches__img {
    height: 325px;
  }

  .landing-niches-slogan {
    margin-top: 20px;
  }

  .niches-txt-container {
    margin-left: -253px;
    margin-top: -15px;
  }

  .niches-txt__title {
    padding-top: 5px;
  }

  .stages-work__number {
    padding-right: 14px;
    padding-left: 14px;
  }

  .stages-work__title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .stages-work__txt {
    font-size: 16px;
  }

  .question-wrap {
    margin-bottom: 10px;
  }

  .stages-work-container {
    margin-top: 15px;
  }

  .txt-stroke_size {
    width: 40%;
  }

  .price__list {
    font-size: 16px;
  }

  .price-list-wrap {
    width: 45%;
  }

  .btn_form {
    margin-top: 10px;
  }

  .price-list-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .reviews {
    margin-top: 20px;
  }

  .review__text {
    font-size: 15px;
  }

  .question__cross {
    width: 25px;
  }

  .banner__txt_form {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form__title {
    font-size: 24px;
  }

  .form {
    border-width: 3px;
  }

  .form__input {
    font-size: 16px;
  }

  .form__message {
    font-size: 16px;
  }

  .form-collage__txt {
    font-size: 20px;
    left: 325px;
    top: 65px;
  }

  .form-collage__img {
    width: 270px;
    top: -90px;
  }

  .contacts {
    border-width: 3px;
  }

  .logo_footer {
    width: 60px;
    height: 50px;
  }

  .footer-txt {
    margin-top: 15px;
  }

}

@media (max-width: 720px) {

  .menu {
    padding-left: 10px;
  }

  .main-title__pink-txt {
    font-size: 20px;
    line-height: 18px;
  }

  .main-title__black-txt {
    font-size: 24px;
  }

  h1 {
    font-size: 24px;
  }

  .block-color__txt {
    font-size: 15px;
  }

  .banner__img {
    width: 230px;
  }

  .banner__txt {
    margin-top: 50px;
  }

  .landing-niches__img {
    height: 300px;
  }

  .landing-niches-info {
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .landing-niches-info__title {
    font-size: 18px;
    line-height: 16px;
  }

  .niches-txt__text {
    font-size: 12px;
    }

  .niches-txt__title {
    font-size: 17px;
  }

  .niches-txt-container {
    margin-left: -230px;
    margin-top: -5px;
  }

  .landing-niches-slogan {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .landing-niches-slogan__txt {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .stages-work-wrap {
    width: 48%;
  }

  .stages-work__txt {
    font-size: 15px;
  }

  .stages-work-all {
    background-size: cover;
  }

  .txt-stroke_size {
    width: 42%;
  }

  .price-list-wrap {
    width: 48%;
  }

  .price__title {
    font-size: 30px;
  }

  .price__price {
    font-size: 25px;
  }

  .price__img {
    width: 205px;
    height: 385px;
  }

  ul {
    padding-left: 20px;
  }

  .review__photo {
    width: 70px;
  }

  .review__text {
    font-size: 14px;
  }

  .question__txt {
    width: 58%;
  }

  .banner__txt_form {
    margin-top: 0px;
  }

  .banner-container_form {
    background-position-y: 50%;
  }

  .form__title {
    font-size: 20px;
  }

  .form-container {
    margin-top: 20px;
  }

  .form {
    width: 68%;
  }

  .form__input {
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }


  .form-collage {
    background-size: 90%;
  }

  .form-collage__img {
    left: -20px;
  }

  .form-collage__txt {
    left: 303px;
    top: 53px;
  }

  .menu__link_footer {
    font-size: 14px;
    margin-right: 0;
  }

}

@media (max-width: 668px) {

  .menu__link {
    font-size: 14px;
  }

  .number-phone {
    font-size: 14px;
  }

  .logo {
    width: 55px;
    height: 45px;
  }

  .social-links {
    width: 63%;
  }

  .contact-menu__img {
    width: 20px;
  }

  .contact-menu__img_telemost {
    width: 22px;
  }

  .main-screen {
    margin-top: 35px;
  }

  .main-services {
    width: 135%;
  }

  .main-title__name {
    font-size: 85px;
    line-height: 51px;
  }


  .main-picture {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .block-color {
    width: 65%;
  }

  .block-color_pink {
    width: 80%;
  }

  .block-color__img {
    width: 240px;
  }

  .landing-goals {
    background-size: 80%;
  }

  .txt-stroke__title_width {
    width: 65%;
  }

  .banner__img {
    width: 200px;
  }

  .banner__txt {
    margin-top: 30px;
  }

  .landing-niches-container {
    background-size: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: revert;
    padding-bottom: 30px;
  }

  .landing-niches {
    margin-top: 20px;
  }

  .landing-niches-info {
    order: 1;
  }

  .landing-niches-info__title {
    font-size: 22px;
  }

  .landing-niches__img {
    order: 2;
    display: block;
    margin: 0 auto;
    width: 43%;
  }

  .niches-txt-container {
    margin-left: 0;
  }


  .niches-txt__title {
    font-size: 20px;
  }

  .niches-txt__text {
    font-size: 15px;
  }

  .landing-niches-slogan {
    width: 85%;
  }

  .landing-niches-slogan__txt {
    width: 65%;
    font-size: 24px;
  }

  .stages-work__italic {
    font-size: 16px;
  }

  .stages-work__title-group {
    margin-bottom: 5px;
  }

  .stages-work__number {
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  h2 {
    font-size: 26px;
  }

  .txt-stroke_pink {
    top: 25px;
  }

  .banner__img {
    width: 190px;
  }

  .banner__txt {
    margin-top: 40px;
  }

  .txt-stroke_size {
    width: 45%;
  }

  .advantages-container {
    margin-bottom: 25px;
  }

  .price {
    display: flex;
    flex-direction: column;
    background-size: 35%;
    background-position-y: 115%;
    background-position-x: 40%;
  }

  .price-list-wrap {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .price__title {
    font-size: 33px;
  }

  .price-list {
    font-size: 17px;
  }

  .price__price {
    font-size: 28px;
  }

  ul {
    padding-left: 25px;
  }

.btn_form {
  width: 60%;
}

  .price__img {
    width: 180px;
    height: 330px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }

  .btn_stages {
    width: 23%;
  }

  .review__text {
    font-size: 15px;
  }

  .question__txt {
    width: 30%;
  }

  .question__txt {
    width: 86%;
  }

  .banner__txt_form {
margin-top: 0;
  }

  .form {
    width: 70%;
  }

  .form-collage__img {
    width: 230px;
    top: -90px;
  }

  .form-collage__txt {
      left: 280px;
      top: 50px;
    font-size: 18px;
  }

  .form-collage {
    height: 245px;
  }

  .contacts__img {
    width: 115px;
    height: 230px;
  }

  .contacts-info {
    margin-top: 30px;
    font-size: 16px;
  }

  .contact__icon {
    width: 27px;
  }

  .menu_footer {
    width: 100%;
    padding-left: 0;
  }

}

@media (max-width: 540px) {

  .menu__link {
    display: none;
  }

  .bar {
    display: block;
  }

  .burger-line {
    width: 38px;
    height: 4px;
  }

  header {
    width: 100%;
    padding-top: 15px;
  }

  body {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
  }

  .number-phone {
    font-size: 18px;
  }

  .social-links {
    width: 60%;
  }

  .contact-menu {
    margin-top: 0;
  }

  .contact-menu__img {
    width: 24px;
  }

  .contact-menu__img_telemost {
    width: 26px;
  }

  .logo {
    width: 60px;
    height: 50px;
  }

  .main-screen {
    flex-direction: column;
  }

  .main-picture {
    display: none;
  }

  .img-mobile {
    display: block;
    margin-left: 80px;
    width: 350px;
    height: 350px;
  }

  .main-title__name {
    font-size: 90px;
    line-height: 55px;
  }

  .main-title__slogan {
    width: 68%;
  }

  .main-title__pink-txt {
    font-size: 27px;
    line-height: 20px;
  }

  .main-title__black-txt {
    font-size: 30px;
    margin-top: 13px;
  }

  .main-services {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  .landing-block {
    flex-direction: column;
    background-position-x: 103%;
    background-size: 55%;
  }

  .block-color {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
    border-width: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 83%;
  }

  .block-color__txt {
    font-size: 17px;
  }

  .block-color__img {
    width: 250px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .landing-goals {
    background-position-y: 65%;
  }


  .landing-goals-container {
  flex-direction: column;
}

.txt-stroke {
  width: 85%;
}

  .txt-stroke__text {
    font-size: 16px;
  }

  .txt-stroke__title {
    font-size: 22px;
  }

  .txt-stroke_pink {
    left: 40px;
    top: 10px;
  }

  .banner__img {
    width: 200px;
  }

  .banner__txt {
    font-size: 20px;
  }

  .block-color_pink {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 15px;
    font-size: 18px;
  }

  .landing-niches-container {
    background-size: 160%;
  }

  .landing-niches-info__title {
    font-size: 22px;
  }

  .niches-txt__title {
    margin-top: 3px;
  }


  .landing-niches__img {
    height: 270px;
  }

  .landing-niches-slogan {
   border-width: 3px;
  }

  .landing-niches-slogan__txt {
    border-width: 3px;
    font-size: 22px;
  }

  .stages-work {
    margin-top: 25px;
  }

  .stages-work-all {
    margin-right: -20px;
    margin-left: -20px;
    background-position-x: 33%;
  }

  .stages-work__italic {
    font-size: 18px;
  }

  .stages-work-container {
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
  }

  .stages-work-wrap {
    width: 55%;
  }

  .stages-work__number {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .stages-work__title {
    font-size: 22px;
  }

  .stages-work__txt {
    font-size: 16px;
  }

  .txt-stroke_pink {
    left: 20px;
  }

  .advantages-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .advantages {
    background-image: url("/img/svg-ad-mob.svg");
    background-size: 70%;
    background-position-x: -30%;
    margin-bottom: 25px;
  }

  .txt-stroke_size {
    margin-bottom: 10px;
  }

  .btn_advantages {
    margin-top: 0;
  }

  .price__title {
    font-size: 32px;
  }

  .price__list {
    font-size: 17px;
  }

  ul {
    padding-left: 20px;
  }

  .price-list-wrap {
    width: 65%;
  }

  .price__price {
    font-size: 28px;
  }

  .btn_form {
    width: 35%;
    font-size: 16px;
  }

  .price__img {
    margin-top: 20px;
    width: 190px;
    height: 350px;

  }

  .review {
    width: 80%;
    border-width: 3px;
  }

  .review__text {
    border-width: 3px;
    font-size: 15px;
  }

  .question {
    border-width: 3px;
  }

  .question__txt {
    font-size: 23px;
    width: 65%;
  }

  .question__cross {
    width: 30px;
  }

  .question__answer {
    font-size: 17px;
  }

  .banner-container_form {
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: 180%;
  }

  .btn_form {
    width: 50%;
    margin-top: 10px;
  }

  .form {
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-container {
    margin-bottom: 20px;
  }

  .form__title {
    font-size: 22px;
  }

  .form__input {
    font-size: 18px;
  }

  .form-collage {
    background-size: 100%;
  }

  .form-collage__txt {
    top: 45px;
    left: 255px;
  }

  .form-collage__img {
    left: -50px;
    top: -90px;
  }

  .reviews__nav {
    width: 35px;
  }

  .menu_footer {
    flex-direction: column;
    margin: 0;
  }

  .logo_footer {
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
  }

  .menu__link_footer {
    display: block;
    margin: 0;
    font-size: 15px;
    line-height: 8px;
  }

  .footer-txt {
    font-size: 16px;
  }


}

@media (max-width: 430px) {

  .logo {
    width: 55px;
    height: 45px;
  }

  .social-links {
    width: 63%;
  }

  .contact-menu__img {
    width: 22px;
  }

  .contact-menu__img_telemost {
    width: 24px;
  }

  .burger-line {
    width: 36px;
    height: 4px;
  }

  .number-phone {
    font-size: 16px;
  }

  .main-title__name {
    font-size: 85px;
    line-height: 53px;
  }

  .main-title__slogan {
    width: 85%;
  }

  .main-title__pink-txt {
    font-size: 25px;
  }

  .main-title__black-txt {
    font-size: 28px;
  }

  .img-mobile {
    margin-left: 10px;
  }

  .main-title__slogan {
    width: 90%;
  }

  h1 {
    font-size: 26px;
  }

  .landing-block {
    background-size: 65%;
  }

  .landing-goals {
    background-image: url("/img/svg-vector.png");
    background-position-x: 0%;
  }

  .txt-stroke {
    margin-bottom: 10px;
  }

  .banner__img {
    width: 180px;
  }

  .banner-container {
    background-size: 260%;
  }

  .banner__txt {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 20px;
    width: 30%;
  }

  .landing-niches {
    margin-top: 21px;
  }

  .landing-niches__img {
    height: 210px;
  }

  .landing-niches-container {
    background-image: url("/img/svg-mob-pink.png");
    padding-bottom: 10px;
  }


  .landing-niches-slogan__txt {
    font-size: 20px;
  }

  .landing-niches-slogan {
    width: 70%;
  }

  .stages-work-wrap {
    width: 80%;
  }

  .stages-work-all {
    background-position-x: 30%;
  }

  .btn_stages {
    width: 30%;
  }

  .btn_advantages {
    margin-top: 0;
  }

  .advantages {
    margin-bottom: 20px;
  }

  .price {
    background-size: 45%;
    background-position-y: 100%;
  }

  .price-list-wrap {
    width: 80%;
    border-width: 3px;
  }

  .reviews-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews__nav {
    order: 2;
    position: static;
    display: inline-block;
    width: 30px;
    margin-left: 10px;

  }

  .review {
    width: 80%;
    order: 1;
    margin-bottom: 10px;
  }

  .review__name {
    font-size: 17px;
  }

  .reviews__slogan {
    font-size: 16px;
  }

  .question {
    margin-top: 15px;
  }

  .question__txt {
    font-size: 22px;
  }

  .question__cross {
    width: 27px;
  }

  .banner-container_form {
    background-size: 230%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .banner__txt_form {
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
  }

  .form {
    width: 95%;
  }

  .form-container {
    margin-bottom: 25px;
  }

  .form__input {
    font-size: 16px;
  }

  .btn_form {
    width: 60%;
    margin-top: 5px;
  }

  .form-collage__img {
    width: 180px;
    left: -35px;
    top: -90px;
  }

  .form-collage__txt {
    font-size: 15px;
    left: 197px;
    top: 30px;
  }

  .form-collage {
    height: 180px;
  }

  .contacts {
    padding-left: 30px;
    padding-right: 30px;
    background-size: 60%;
  }

  .contacts__img {
    width: 80px;
    height: 150px;
  }

  .contacts-info {
    font-size: 14px;
    margin-top: 10px;
  }

  .contact__icon {
    width: 20px;
  }

  .contact {
    margin-bottom: 8px;
  }

}

@media (max-width: 414px) {


  .img-mobile {
    margin-left: 15px;
    }

 body {
   font-size: 16px;
 }

 .btn {
   font-size: 16px;
 }

  .main-title__slogan {
    width: 87%;
  }

  .main-title__pink-txt {
    font-size: 23px;
  }

  .img-mobile {
    width: 320px;
    height: 320px;
  }

  .txt-stroke__title {
    font-size: 20px;
  }

  .txt-stroke__text {
    font-size: 15px;
  }

  .landing-goals {
    background-size: 70%;
    background-position-x: -5%;
  }

 .landing-block {
   margin-bottom: 0;
 }

  .landing-niches-info__title {
    font-size: 20px;
  }

  .niches-txt__title {
    font-size: 18px;
    margin-bottom: 3px;
  }

  .stages-work {
   margin-top: 30px;
 }

  .stages-work__number {
    padding: 6px 14px;
  }

  .stages-work__title {
    font-size: 20px;
  }

  .stages-work__italic {
    font-size: 17px;
  }

  .stages-work__txt {
    font-size: 14px;
  }

  .advantages-container {
    margin-bottom: 15px;
  }

  .form__title {
    font-size: 20px;
  }

  .price__title {
    font-size: 30px;
  }

  .price__price {
    font-size: 25px;
  }

  .price__list {
    font-size: 16px;
  }

  .btn_form {
    width: 40%;
    margin-top: 12px;
  }

  .banner__txt_form {
    font-size: 18px;
  }

  .form__input {
    font-size: 15px;
  }

  .form__message {
    font-size: 15px;
    width: 79%;
  }

  .btn_form {
    width: 65%;
  }

  .form-collage__img {
    left: -40px;
    top: -75px;
  }

  .form-collage__txt {
    font-size: 14px;
    left: 190px;
    top: 30px;
  }

}

@media (max-width: 412px) {

  .form-collage__txt {
    top: 20px;
  }

  .form-collage__img {
    top: -90px;
  }

}

@media (max-width: 390px) {

  body {
    font-size: 15px;
  }

  .number-phone {
    font-size: 15px;
  }

  .social-links {
    width: 60%;
  }

  .contact-menu__img {
    width: 20px;
  }

  .contact-menu__img_telemost {
    width: 22px;
  }

  .img-mobile {
    width: 280px;
    height: 280px;
  }

  .main-title__pink-txt {
    font-size: 20px;
    line-height: 18px;
  }

  .main-title__black-txt {
    margin-top: 10px;
    font-size: 24px;
  }

  .main-title__name {
    font-size: 78px;
    line-height: 50px;
  }

  .main-title__slogan {
    width: 84%;
  }

  .main-title {
    margin-top: 5px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .block-color {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .block-color__txt {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .block-color__img {
    width: 230px;
  }

  .stages-work__italic {
    font-size: 16px;
  }

  .stages-work__number {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .landing-niches__img {
    height: 190px;
  }

  .form__input {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }


  .btn_form {
    margin-top: 10px;
  }

  .question__txt {
    font-size: 20px;
  }

  .question__cross {
    width: 25px;
  }

  .question__answer {
    font-size: 15px;
  }

  .form-collage__txt {
    left: 178px;
    top: 28px;
  }

  .form-collage {
    height: 160px;
  }

  .form-collage {
    margin-top: 25px;
  }

  .form-collage__img {
    top: -90px;
  }

  .menu__link_footer {
    font-size: 14px;
    line-height: 6px;
  }

  .footer-txt {
    font-size: 15px;
  }

}

@media (max-width: 376px) {

  body {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  h1 {
    font-size: 23px;
  }

  .block-color__txt {
    font-size: 14px;
  }

  .block-color__img {
    width: 220px;
  }

  h2 {
    font-size: 24px;
  }


  .txt-stroke_pink {
    left: 30px;
  }

  .banner-container {
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: 220%;
  }

  .banner__img {
    width: 160px;
  }

  .banner__txt {
    font-size: 17px;
    width: 32%;
  }

  .landing-niches-info__title {
    font-size: 18px;
    }

  .landing-niches__img {
    width: 40%;
  }

  .niches-txt {
    padding-top: 15px;
  }

  .niches-txt__title {
    font-size: 17px;
  }

  .landing-niches__img {
    height: 175px;
  }

  .stages-work__italic {
    font-size: 15px;
    }

  .stages-work__title {
    font-size: 19px;
  }

  .stages-work__number {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 8px;
  }

  .txt-stroke__text {
    font-size: 14px;
  }

  .txt-stroke__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .price__title {
    font-size: 28px;
  }

  .price__list {
    font-size: 15px;
  }

  .price-list-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .price__price {
    font-size: 24px;
  }

  .price__img {
    margin-top: 10px;
    width: 150px;
    height: 280px;
  }

  .btn_form {
    width: 35%;
  }

  .reviews__slogan {
    font-size: 15px;
  }

  .review__photo {
    width: 60px;
  }

  .reviews__nav {
    width: 25px;
    margin-left: 3px;
  }

  .reviews-wrap {
    width: 100%;
  }

  .question__cross {
    width: 23px;
  }

  .banner__txt_form {
    width: 100%;
  }

  .form__title {
    font-size: 18px;
  }

  .form__input {
    padding-left: 20px;
    padding-right: 20px;
  }


  .btn_form {
    width: 60%;
  }

  .form-collage__txt {
    left: 170px;
    font-size: 13px;
  }

  .menu__link_footer {
    line-height: 5px;
  }
}

@media (max-width: 360px) {

  .logo {
    width: 50px;
    height: 40px;
  }

  .number-phone {
    font-size: 14px;
  }

  .burger-line {
    width: 32px;
    height: 3px;
  }

  .social-links {
    width: 65%;
  }

  .main-title__name {
    font-size: 76px;
    line-height: 46px;
  }

  .main-title__slogan {
    width: 90%;
  }

  .block-color {
    font-size: 16px;
  }

  .block-color__img {
    width: 200px;
  }

  .img-mobile {
    width: 260px;
    height: 260px;
  }

    h1 {
      font-size: 21px;
    }

  h2 {
    font-size: 23px;
  }

  .block-color__txt {
    margin-bottom: 6px;
  }

  .txt-stroke_pink {
    left: 20px;
  }

  .banner__txt {
    font-size: 16px;
  }

  .banner__img {
    width: 150px;
  }

  .stages-work-wrap {
    width: 82%;
  }

  .price__title {
    font-size: 27px;
  }

  .price__list {
    font-size: 14px;
  }

  .review {
    padding-left: 15px;
    padding-right: 15px;
    width: 85%;
  }

  .review__text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  .review__name {
    font-size: 16px;
  }

  .review__person {
    margin-bottom: 10px;
  }

  .reviews__nav {
    width: 22px;
  }

  .question {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }


  .question__txt {
    width: 70%;
  }

  .form {
    width: 98%;
  }

  .form-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
  }


 .form__title {
    font-size: 18px;
  }

  .btn_form {
    margin-top: 6px;
  }

  .form-collage__img {
    width: 160px;
    top: -80px;

  }

  .form-collage__txt {
    left: 162px;
    top: 25px;
  }

  .menu__link_footer {
    font-size: 12px;
  }

  .footer-txt {
    font-size: 14px;
    margin-top: 10px;
  }

}

@media (max-width: 344px) {


  .main-title__pink-txt {
    font-size: 18px;
    line-height: 16px;
  }

  .main-title__black-txt {
    font-size: 22px;
  }

  .img-mobile {
    margin-left: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .txt-stroke {
    width: 78%;
  }

  .banner__txt {
    margin-top: 0;
  }

 .landing-niches-info__title {
    font-size: 18px;
    line-height: 14px;
  }

  .niches-txt {
    padding-top: 15px;
  }

  .niches-txt__title {
    font-size: 18px;
  }

  .niches-txt__text {
    font-size: 14px;
  }

  .landing-niches__img {
    height: 160px;
  }

  .landing-niches-info {
    padding-bottom: 20px;
  }

  .landing-niches-slogan__txt {
    font-size: 18px;
  }

  .price__img {
    width: 140px;
    height: 255px;
  }

  .question__answer {
    font-size: 14px;
  }

  .question__txt {
    font-size: 18px;
  }

  .form__message {
    width: 77%;
  }

  .btn_form {
    width: 65%;
  }

  .form-collage__txt {
    left: 155px;
    top: 14px;
  }

  .contacts-info {
    font-size: 13px;
  }

  .contacts__img {
    width: 70px;
    height: 135px;
  }

  .contacts {
    background-size: 55%;
  }

}
