@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");


body {
  background-color: white;
  font-family: 'Alumni Sans' ;
  font-size: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  border-width: 5px;
  border-color: #ffef3d;
  border-style: solid;
  border-radius: 50px;
  color: #ff3d7f;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.7s;

  &:hover {
    background-color: #ff3d7f;
    color: white;
    border: none;
  }
}

h1 {
  font-size: 60px;
  margin: 0;
}


h2 {
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pink-color {
  color: #ff3d7f;
}



p {
  padding: 0;
  margin: 0;
}